<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EngChallenge</title>
    <link rel="stylesheet" href="../css/MainPage_style.css"/>
    <script src="../js/MainPage_script.js" defer></script>
  </head>
  <body>
    <div class="correct showResult hidden"><img src="../css/image/circle.png" alt="404"></div>
    <div class="wrong showResult hidden"><img src="../css/image/wrong.png" alt="404"></div>

    <div class="container">
      <div class="board">{{word}}</div>
      <div class="option" id="option1">{{option1}}</div>
      <div class="option" id="option2">{{option2}}</div>
      <div class="option" id="option3">{{option3}}</div>
      <div class="option" id="option4">{{option4}}</div>
    </div>
  </body>
</html>

